<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Debug Page</title>

  <!-- FONT -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS  -->
  <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}">
</head>
<body>

  <!-- Page Layout 
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Basic Page</h4>
        <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
      </div>
    </div>
  </div>
  -->

  <div class="container" style="margin-top: 12pt">
    <h1>DEBUG</h1>
    <p>Information about the game state.</p>
  </div>

</body>
</html>

<!-- vim: set cc=101 ts=2 sw=2 sts=2 expandtab: --
